*{
	margin: 0px;
	padding: 0px;
	font-family: sans-serif;
}
.container{
	position: absolute;
	top: 50%;
	left: 50%;
	width: 430px;
	height: 600px;
	transform: translate(-50%,-50%);
	box-shadow: 0px 2px 4px rgb(184,184,184),
				0px 4px 8px rgb(200,200,200);
	border-radius: 70px;
	overflow: hidden;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: .9rem;
	color: #26242e;
	background: #f3f3f3;
	z-index: 100;
}

.circle1{
	position: absolute;
	width: 450px;
	height: 500px;
	background-color: rgb(260,267,200);
	border-radius: 50%;
	top: -15%;
	left: -20%;
	z-index: 1;
}

.circle2{
	position: absolute;
	width: 350px;
	height: 400px;
	background-color: rgb(295,237,200);
	border-radius: 50%;
	top: -15%;
	left: -20%;
	z-index: 1;
}

.circle3{
	position: absolute;
	width: 250px;
	height: 300px;
	background-color: rgb(211,288,200);
	border-radius: 50%;
	top: -15%;
	left: -20%;
	z-index: 1;
}

.input{
	width: 260px;
	height: 470px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	z-index: 2;
}

.input-field{
	border: none;
	width: 260px;
	height: 45px;
	border: 2px solid #dbdbdb;
	border-radius: 4px;
	padding-left: .7rem;
	outline: none;
	font-weight: 600;
	font-size: 15px;
}

input:focus{
	border-color: #ff316f;
}

::placeholder{
	color: #b8b8b8;
}

.radio-btn{
	width: 100%;
	height: 45px;
	display: flex;
}

label{
	font-size: 15px;
	font-weight: 500;
	color: #2c2c2c;
}

.radio-btn input{
	display: none;
}

.radio-btn label{
	position: relative;
	width: 100px;
	height: 48px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	background:#fff;
	margin-right: 1rem;
	font-weight: 600;
}

.mark{
	position: relative;
	display: block;
	width: 18px;
	height: 18px;
	border: 2px solid #c7c7c7;
	border-radius: 50%;
	transition: .3s;
}

.mark::before{
	content: "";
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 11px;
}

.btn-border{
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100px;
	height: 45px;
	border: 2px solid #dbdbdb;
	border-radius: 4px;
}

input[type="radio"]:checked ~ .mark{
	border-color: #ff316f;
}

input[type="radio"]:checked ~ .mark::before{
	opacity: 1;
}

input[type="radio"]:checked ~ .btn-border{
	border-color: #ff316f;
}

.text{
	display: flex;
	align-items: center;
	left: 1rem;
}

.btn button{
	width: 245px;
	height: 45px;
	border-radius: 45px;
	border: none;
	outline: none;
	background: #ff316f;
	color: white;
	font-size: 17px; 	
	transition:0.5s;
	cursor: pointer;
}

p{
	position: relative;
	font-style: 15px;
	left: .4rem;
	width: 100%;
}

a{
	font-weight: 600;
	color: #1294fc;
}

.btn button:hover{
	background-color: crimson;
	transform: scale(1.1);	
}
